@CHARSET "UTF-8";

body {
	background-color: #000;
	color: #DDD;
}

div.banner {
	background-image: url("images/wot_512x212.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	height: 170px;
}

a:visited {
	color: #ff8040;
}

pre {
	background-color: #080808;
	border: 1px solid #dfdfdf;
	padding: 10px;
	opacity: 0.7;
}

table {
	width: 100%;
}

td {
	vertical-align: top;
	text-align: left;
}

.lightTank {
	color: #008800;
}

.mediumTank {
	color: #f8ca52;
}

.heavyTank {
	color: #888888;
}

.AT-SPG {
	color: #0080ff;
}

.SPG {
	color: #6f2c0b;
}

.vehicle-preset {
	display: inline-block;
	width: 95px;
	margin: 0px;
	padding-left: 4px;
}

textarea.commentbox {
	width: 100%;
	height:97px;
	resize: none;
}

.vehicle:hover {
	background-color: #FAFAFA;
	border: 1px solid #EFEFEF;
	cursor: pointer;
}

.vehicle .contourbox {
	width: 95px;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: transparent;
	display: inline-block;
}

.pointed-vehicle {
	background-color: #F5F5F5;
	border: 1px solid #E4E4E4;
}

.selected-vehicle {
	background-color: #E0E0E0;
}


/******************************************************/
.spoiler .spoiler-head {
	cursor: pointer;
	background-color: #aaaadd;
}
.spoiler .spoiler-head:hover {
	background-color: #88aadd;
}

.spoiler .spoiler-body {
	display: none;
	border: 1px solid #444444;
}

/******************************************************/
#requiredVehicles {
	width: 100%;
}

#squad_calc {
	width: 470px;
}

.squad-box {
	border: 1px solid #888888;
	width: 480px;
	height: 320px;
	position: relative;
	z-index: 0;
}

.candidate {
	border: 1px solid #dddddd;
	background-color: #8F8F8F;
	width: 468px;
	height: 24px;
	padding-left: 10px;
	z-index: 1;
	cursor: move;
	color: #444;
}

.candidate:active {
	border: 1px dashed #ff0000;
}

.candidate:hover {
	background-color: #e8e8e8;
}

#candidateInfoStat {
	width: 100%;
}

/******************************************************/
.main-menu {
	margin: 0px;
	padding: 0px;
}

.main-menu a{
	display: inline-block;
	width: 110px;
	height: 24px;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: #ff8040;
	border: 1px solid #804000;
	box-sizing: content-box;
}

.main-menu a.authblock {
	float: right;
}

.main-menu a.up2date {
	border: 1px solid #1baf3d;
	box-shadow: 0px 0px 50px #1baf3d, inset 0px 0px 30px #1baf3d;
}

.main-menu a.obsolete {
	border: 1px solid #f9211c;
	box-shadow: 0px 0px 50px #f9211c, inset 0px 0px 30px #f9211c;
}

.main-menu a.authblock .popupHelp {
	display: none;
}

.main-menu a.authblock:hover .popupHelp{
	display: block;
	position: absolute;
	z-index: 2;
	width: 220px;
	height: 70px;
	color: #DDD;
	margin-top: 10px;
	border: 1px solid #222;
}

/******************************************************/
div.main-container{
	margin: 0 auto;
	border: 1px solid #888;
	width: 1000px;
	min-height: 90%;
	z-index: 0;
	box-sizing: border-box;
}

div.copyright {
	text-align: center;
}



/******************************************************/
.interview_new {
	width: 100%;
}
.interview_new td {
	vertical-align: top;
	/*border: 1px solid #dddddd; */
}


/*****************************************************/
.queue-interface-box {
	width: 200px;
	height: 210px;
	position: absolute;
	background-color: #0F0F0F;
	border: 1px solid #ff8040;
	border-radius: 5px;
	z-index: 2;
	right: 10px;
	padding: 10px;
	color: #444;
	box-shadow: 0px 0px 50px rgba(215,70,0,0.5);
}

.queue-interface-box .queue-st-running {
	color: green;
}

.queue-interface-box .queue-st-dead {
	color: red;
}

.queue-interface-box table.queue-stat-table-fail {
	border: 1px solid red;
}

.queue-interface-box table tbody tr th {
	width: 88px;
}


.helper {
	font-size: 14px;
	color: #455;
	padding: 10px;
}

.interview-url {
	width: 100%;
}


/*********************************************************/
/*** rating colors ***/
.vrating-0 {
	color: #FE0E00;
}

.vrating-1 {
	color: #FE7903;
}

.vrating-2 {
	color: #D5D201;
}

.vrating-3 {
	color: #489928;
}

.vrating-4 {
	color: #02C9B3;
}

.vrating-5 {
	color: #D042F3;
}