@CHARSET "UTF-8";
@import url("styles/colors.css");
@import url("styles/menus.css");
@import url("styles/interview.css");

body {
	background-color: #000;
	color: #DDD;
}

div.banner {
	background-image: url("images/wot_512x212.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	height: 170px;
}

pre {
	background-color: #080808;
	border: 1px solid #dfdfdf;
	padding: 10px;
	opacity: 0.7;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #000;
	padding-left: 5px;
}

td {
	vertical-align: top;
	text-align: left;
}

textarea.commentbox {
	width: 100%;
	height:97px;
	resize: none;
}

/******************************************************/
div.main-container{
	margin: 170px auto 0px auto;
	border: 1px solid rgba(255,255,255,0.1);
	background-image: url("styles/images/content_bg.png");
	width: 1000px;
	min-height: 90%;
	z-index: 0;
	box-sizing: border-box;
}

.main-container .content-wrapper {
	margin: 25px;
}
/******************************************************/
.spoiler .spoiler-head {
	cursor: pointer;
	background-color: #aaaadd;
}
.spoiler .spoiler-head:hover {
	background-color: #88aadd;
}

.spoiler .spoiler-body {
	display: none;
	border: 1px solid #444444;
}



div.copyright {
	text-align: center;
}

/*****************************************************/
.queue-interface-box {
	width: 200px;
	height: 210px;
	position: absolute;
	background-color: #0F0F0F;
	border: 1px solid #ff8040;
	border-radius: 5px;
	z-index: 2;
	right: 10px;
	padding: 10px;
	color: #444;
	box-shadow: 0px 0px 50px rgba(215,70,0,0.5);
}

.queue-interface-box .queue-st-running {
	color: green;
}

.queue-interface-box .queue-st-dead {
	color: red;
}

.queue-interface-box table.queue-stat-table-fail {
	border: 1px solid red;
}

.queue-interface-box table tbody tr th {
	width: 88px;
}


.helper {
	font-size: 14px;
	color: #455;
	padding: 10px;
}


/*********************************************************/
