@CHARSET "UTF-8";

pre {
	background-color: #efefef;
	border: 1px solid #dfdfdf;
	padding: 10px;
}

table {
	width: 100%;
}

td {
	vertical-align: top;
	text-align: left;
}

.lightTank {
	color: #008800;
}

.mediumTank {
	color: #c49209;
}

.heavyTank {
	color: #3333333;
}

.AT-SPG {
	color: #000088;
}

.SPG {
	color: #6c400d;
}

.vehicle-preset {
	display: inline-block;
	width: 95px;
	margin: 0px;
	padding-left: 4px;
}

textarea.commentbox {
	width: 100%;
	height:97px;
	resize: none;
}

.vehicle:hover {
	background-color: #FAFAFA;
	border: 1px solid #EFEFEF;
	cursor: pointer;
}

.vehicle .contourbox {
	width: 95px;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: transparent;
	display: inline-block;
}

.pointed-vehicle {
	background-color: #F5F5F5;
	border: 1px solid #E4E4E4;
}

.selected-vehicle {
	background-color: #E0E0E0;
}


/******************************************************/
.spoiler .spoiler-head {
	cursor: pointer;
	background-color: #aaaadd;
}
.spoiler .spoiler-head:hover {
	background-color: #88aadd;
}

.spoiler .spoiler-body {
	display: none;
	border: 1px solid #444444;
}

/******************************************************/
#requiredVehicles {
	width: 100%;
}

#squad_calc {
	width: 470px;
}

.squad-box {
	border: 1px solid #888888;
	width: 480px;
	height: 320px;
	position: relative;
	z-index: 0;
}

.candidate {
	border: 1px solid #dddddd;
	background-color: #efefef;
	width: 468px;
	height: 24px;
	padding-left: 10px;
	z-index: 1;
	cursor: move;
}

.candidate:active {
	border: 1px dashed #ff0000;
}

.candidate:hover {
	background-color: #e8e8e8;
}

#candidateInfoStat {
	width: 100%;
}

/******************************************************/
.main-menu {
	margin: 0px;
	padding: 0px;
}

.main-menu a{
	display: inline-block;
	width: 110px;
	height: 24px;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: #0000bb;
	border: 1px solid #dddddd;
	box-sizing: content-box;
}

.main-menu a.authblock {
	float: right;
}


/******************************************************/
div.main-container{
	margin: 0 auto;
	border: 1px solid #888;
	width: 1000px;
	min-height: 90%;
	z-index: 0;
	box-sizing: border-box;
}

div.copyright {
	text-align: center;
}



/******************************************************/
.interview_new {
	width: 100%;
}
.interview_new td {
	vertical-align: top;
	border: 1px solid #dddddd;
}